# Base style
BasedOnStyle: Google

# Override line length to 100
ColumnLimit: 100

# Indentation
IndentWidth: 2
TabWidth: 2
UseTab: Never

# Brace and spacing settings
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
SpacesBeforeTrailingComments: 2
DerivePointerAlignment: false
PointerAlignment: Left

# Other formatting tweaks
AlignAfterOpenBracket: Align
AlignOperands: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AllowAllParametersOfDeclarationOnNextLine: false
BinPackParameters: true